<div class="small-12 column">
<h1>Tipos de Preguntas</h1>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
      </tr>
    </thead>

    <tbody>
      <% @question_types.each do |question_type| %>
        <tr>
          <td><%= question_type.codigo %></td>
          <td><%= question_type.descripcion %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
