<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Evaluaciones ULSA</h1>
    <p>
      Hola docente <%= @user.nombre %>, en este email estan adjuntos los archivos de
      tu evaluación.<br>
    </p>
    <p>Gracias por su tiempo.!</p>
  </body>
</html>
