<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contraseña para Evaluaciones ULSA</h1>
    <p>
      Hola estudiante <%= @user.nombre %>, tu contraseña para esta evaluacion
      es: <%= @user.password %>.<br>
    </p>
    <p>
      Realiza la evaluación en este link: <%= @url %>.
    </p>
    <p>Gracias por su tiempo.!</p>
  </body>
</html>
