<div class="small-12 column">
  <p>
    <strong>Nombre:</strong>
    <%= @level.nombre %>
  </p>

  <%= link_to 'Edit', edit_admin_level_path(@level), class: 'button' %>
  <%= link_to 'Back', admin_levels_path, class: 'button' %>
</div>
