/*SECTIO menu_bar*/
/*container*/
img.logo-sei {
  padding: 2px;
  width: 35px;
}

div.left-off-canvas-menu {
  background-color: #151515;
  button: 0;
}

li ul.left-submenu {
  height: auto !important;
}

.off-canvas-wrap div.inner-wrap {
  min-height: 960px !important;
}
