table.table {
  width: inherit;
  th {
    font-weight: bold;
    text-align: center;
    background: #353535;
    color: #fff;
    text-transform: uppercase;
    > a:after {
      position: relative;
      left: 3px;
      content: image-url("sort-white.png");
    }
    a {
      color: #fff;
    }
  }
  th, td {
    font-size: 12px;
    border: 1px solid #E5E5E5;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  div.action_links {
    width: 5em;
    visibility: hidden;
    background: #616161 none repeat scroll 0 0;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
      margin-left: 0.3em;
      margin-right: 0.3em;
    }
  }
  tr:hover div.action_links {
    visibility: visible;
  }
  tr {
    th.action_column, td.action_column {
      background: #dadada none repeat scroll 0 0;
      border: none;
      max-width: 40px;
    }
  }
}

body {
  background-color: #dadada;
}

.digg_pagination span {
  display: inline-block;
  padding: 3px 5px;
  border: solid 1px #c0c0c0;
  background: #e9e9e9;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  color: #717171;
  text-shadow: 0px 1px 0px rgba(255,255,255, 1);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
  background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
 }

.digg_pagination span.page.current {
  border: solid 1px #c0c0c0;
  background: #616161;
  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
  color: #f0f0f0;
  text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}
