<table>
  <thead>
    <th>
      Aspectos a evaluar
    </th>
    <th>
      Respuestas
    </th>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.display_name %></td>
        <td>
          <% @answers.each do |answer| %>
            <input type="radio" id="answer_<%=answer.id %>" name="post[category]" value="<% answer.id %>" />
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
