<table>
  <thead>
    <th>
      Aspectos a evaluar
    </th>
    <th>
      Respuestas
    </th>
  </thead>
  <tbody>
    <tr>
      <td>Entrega oportunamente la planeación de los cursos que imparte.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Elabora adecuadamente la planeación de sus cursos cubriendo los aspectos necesarios.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Dosifica los contenidos de sus materias para no terminar antes ni después del tiempo marcado por el calendario.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Asiste regularmente a sus clases.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Inicia y concluye puntualmente sus clases.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Entrega oportunamente sus calificaciones (estudiantes, registro académico).</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>El profesor realiza seguimiento de sus alumnos e informa oportunamente a la Coordinación las irregularidades que detecta en el grupo (control de faltas, indisciplina, alumnos en riesgo, etc.).</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

    <tr>
      <td>Brinda atención y acompañamiento extra clase a estudiantes.</td>
      <td>
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value="">
        <input type="radio" name="name" value=""></td>
    </tr>

  </tbody>
</table>
<hr>
<label for="">Observaciones</label>
<textarea rows="4" cols="50" placeholder="Observaciones">

</textarea>
