<div class="row panel">
  <h1>Proceso de Evaluación Docente</h1>
  <h1>Evaluación de los directivos a los profesores (LCD) </h1>

  <p>
    A continuación encontrará un conjunto de declaraciones que expresan acciones que a lo largo del cuatrimestre debió cumplir cada uno de sus docentes. Favor de leer detenidamente cada una de ellas e indicar en el recuadro la calificación que corresponda.

  Al revisar la lista es importante que considere el desempeño global del profesor a lo largo de todo el cuatrimestre y en todos sus grupos, también es necesario que disponga de la evidencia (de preferencia documental) necesaria para fundamentar su opinión.

  Después de haber revisado la lista puede hacer observaciones adicionales sobre el profesor anotándolas en el espacio indicado para ello. Esta lista puede ser revisada por el Coordinador del programa.
  </p>


  <h2>Instrucciones:</h2>
  <p>
    Para cada profesor anote en la columna el número que corresponda según su evaluación
  </p>
  <ol>
    <li><strong><i>Nunca o casi nunca:</i></strong> cuando el profesor realizó las tareas de manera inadecuada o en su caso lo hizo en menos del 50 % de las veces.</li>
    <li><strong><i>Algunas veces:</i></strong> Cuando el profesor realizó la tarea indicada de manera regular o bien cumplió al menos la mitad de las veces.</li>
    <li><strong><i>Siempre o casi siempre:</i></strong> Cuando el profesor cumplió adecuadamente las tareas indicadas, o en su caso lo hizo en al menos un 95% de las veces.</li>
  </ol>
<hr>
<ul class="accordion" data-accordion role="tablist">
  <li class="accordion-navigation">
    <a href="#panel1d" role="tab" id="panel1d-heading" aria-controls="panel1d">Sistemas Operativos - Alonso Flores - Cuarto Año - Grupo I</a>
    <div id="panel1d" class="content active" role="tabpanel" aria-labelledby="panel1d-heading">
      <%= render 'directivos_detalles' %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2d"  role="tab" id="panel2d-heading" aria-controls="panel2d">Sistemas Informaticos - Jorge Molinas- Cuarto Año - Grupo 3</a>
    <div id="panel2d" class="content" role="tabpanel" aria-labelledby="panel2d-heading">
      <%= render 'directivos_detalles' %>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel3d" role="tab" id="panel3d-heading" aria-controls="panel3d">Administración - Jorge Porta- Tercer Año - Grupo I</a>
    <div id="panel3d" class="content" role="tabpanel" aria-labelledby="panel3d-heading">
      <%= render 'directivos_detalles' %>
    </div>
  </li>
</ul>

<input type="button" name="name" value="Guardar" class="button">
<br>
