<div class="small-12 column">

  <h1>Tipos de Respuesta</h1>

  <table class="table" border="0" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Scala</th>
      </tr>
    </thead>

    <tbody>
      <% @answer_types.each do |answer_type| %>
        <tr>
          <td><%= answer_type.descripcion %></td>
          <td><%= answer_type.scala %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
