<div class="small-12 column">

  <p>
    <strong>Nombre:</strong>
    <%= @group.nombre %>
  </p>

  <%= link_to 'Edit', edit_admin_group_path(@group), class: 'button' %>
  <%= link_to 'Back', admin_groups_path, class: 'button' %>
</div>
