<h1>Nuevo resultado de encuesta</h1>

<%= render 'form', survey_result: @survey_result %>

<%#= link_to 'Show', admin_survey_result_path(@survey_result) %> |
<%= link_to 'Back', admin_survey_results_path %>
