<div class="dropdown_button index-filter">
  <div href="#" data-dropdown="search_form_dropdown" aria-controls="search_form_dropdown" aria-expanded="false" class="black button dropdown"><span>Filtrar</span></div>
  <div class="small-12 medium-8 large-4 column">
    <ul id="search_form_dropdown" data-dropdown-content class="f-dropdown content search_form_dropdown" aria-hidden="true" aria-autoclose="false" tabindex="-1">
      <%= yield %>
    </ul>
  </div>
</div>
